# Virtual environment
backend/.venv/

# Python cache
__pycache__/
*.py[cod]

# Local SQLite database
backend/ecommerce.db

# macOS
.DS_Store

# IDE
.vscode/

# log file
logs/

# Allure reports
allure-results/
allure-report/